html, body {
    font-size: 18px;
    box-sizing: border-box;
}
.loader {
    position: fixed;
    z-index: 999;
    background: #FFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loader .icon {
    position: absolute;
    left: calc(50% - 16px);
    top: calc(45% - 16px);
}
.alert {
    margin-top: 72px;
    margin-left: 24px;
    margin-right: 24px;
}
.table-container {
    clear: both;
    margin-top: 24px;
}
.tool-bar-title {
    width:50%;
    font-weight: 500;
}
.tool-bar-logos-container {
    display:flex;
    flex-direction: column;
    text-align: right;
    width: calc(50% - 20px);
}
.tool-bar-study-title {
    text-align: right;
    position: relative;
    top: -16px;
    left: 12px;
    font-size: 0.75rem;
}
@media (min-width: 968px) {
    .tool-bar-study-title {
        top: -12px;
        font-size: 0.87rem;
    }
}
.uw-logo {
    position:relative; top: -10px; left: 12px;
}
img {
    max-width: 100%;
}
thead th {
    background-color: #f6f6f8;
    font-size: 0.8rem;
}
th i {
    margin-left: 8px;
}
.content {
    border: 1px solid #ececec;
    padding: 24px 16px;
    font-size: 0.9rem;
}
.content[datacount='1'],
.content[dataCount='1'],
.content[dataCount='0'],
.content[dataCount='0'] {
    border: 0
}
.smaller {
    font-size: 16px;
}
.fixed-content-container {
    height: calc(100vh - 148px);
    overflow-y: auto;
}
.v-tab {
    font-size: 0.8rem;
}
.v-slide-group__prev .v-icon,
.v-slide-group__next .v-icon {
    color: #314367
}
