<!DOCTYPE html>
<html>
    <head>
        <title>WA DOH / Univ WA Melanoma and Work Study</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="app.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-app-bar
                    elevation="1"
                    absolute
                    dark
                    color="primary"
                    app
                    height=80
                    >
                    <v-toolbar-title class="tool-bar-title">Received Case Reports: Limited Data Set</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <div class="tool-bar-logos-container">
                        <div>
                        <img src="./img/dohLogo.svg" width="140">
                        <img src="./img/uwLogo.png" width="300" class="uw-logo">
                        </div>
                        <div class="tool-bar-study-title">
                            Melanoma and Work Study
                        </div>
                    </div>
                    <v-spacer></v-spacer>
                </v-app-bar>
                <v-main>
                    <div class="loader" v-show="!initialized">
                        <v-progress-circular
                        indeterminate
                        color="primary"
                        class="icon"
                        size=40
                        ></v-progress-circular>
                    </div>
                    <v-container class="mt-4">
                        <v-alert
                            text
                            outlined
                            color="deep-orange"
                            icon="mdi-fire"
                            v-text="errorMessage"
                            dismissible
                            v-show="alert"
                            class="alert"
                        >
                        </v-alert>
                        <div>
                            <div class="float-right">
                                <v-btn
                                color="primary"
                                class="btn"
                                dark
                                small
                                rounded
                                @click="refresh()"
                                >
                                Refresh
                                <v-icon>mdi-refresh</v-icon>
                                </v-btn>
                            </div>
                            <br/>
                            <div class="table-container">
                                <div v-show="loading">
                                    <v-progress-circular
                                    indeterminate
                                    color="primary"
                                    class="ml-2"
                                    ></v-progress-circular>
                                    <div class="ml-2 mt-5" v-show="waitCount > 0" ><span class="orange--text text--darken-4" v-html="getWaitMessage(waitCount)"></span></div>
                                </div>
                                <v-data-table
                                    :headers="headers"
                                    :items="resources"
                                    :options="{sortBy:['localDateTime'], sortDesc: [true]}"
                                    class="elevation-1"
                                    :items-per-page="parseInt('-1')"
                                    v-show="!loading"
                                >
                                    <template v-slot:item.link="{ item }">
                                        <v-btn icon @click="viewDetail(item.data, item.subject)" title="View detail">
                                            <v-icon  color="primary">mdi-dots-horizontal</v-icon>
                                        </v-btn>
                                    </template>
                                    <template v-slot:top>
                                        <v-dialog
                                        v-model="dialog"
                                        fullscreen
                                        hide-overlay
                                        >
                                            <v-card>
                                                <v-toolbar
                                                    dark
                                                    color="accent"
                                                    class="modal-toolbar"
                                                    elevation="1"
                                                >
                                                <v-btn
                                                        icon
                                                        dark
                                                        class="primary--text"
                                                        @click="handleDialogClose"
                                                    >
                                                        <v-icon>mdi-close</v-icon>
                                                    </v-btn>
                                                    <v-toolbar-title class="primary--text">
                                                        <div class="title-container" v-if="activeItem.subject">
                                                            <span v-text="activeItem.subject.name"></span>
                                                            <span class="smaller ml-4">DOB: <span v-text="activeItem.subject.dob"></span></span>
                                                        </div>
                                                    </v-toolbar-title>
                                                    <v-spacer></v-spacer>
                                                    <v-toolbar-items>
                                                        <v-btn
                                                        dark
                                                        text
                                                        class="primary--text"
                                                        @click="handleDialogClose"
                                                        >
                                                        Back to List >>
                                                        </v-btn>
                                                </v-toolbar>
                                                <div class="pa-4">
                                                    <v-tabs
                                                        v-model="tab"
                                                        show-arrows
                                                        slider-size=3
                                                        >
                                                        <v-tabs-slider color="secondary"></v-tabs-slider>

                                                        <v-tab
                                                            v-for="type in activeItem.resourceTypes"
                                                            :key="type.name"
                                                        >
                                                            {{ type.name }} <span class="ml-1" v-if="type.count > 1">({{type.count}})</span>
                                                        </v-tab>
                                                    </v-tabs>
                                                    <v-tabs-items v-model="tab" class="fixed-content-container">
                                                        <v-tab-item
                                                        v-for="type in activeItem.resourceTypes"
                                                        :key="type.name"
                                                        >
                                                        <v-card flat>
                                                            <div class="my-4 content" :dataCount="type.count" v-for="item in type.data" v-html="item" v-if="type.data && type.data.length">
                                                            </div>
                                                            <div class="my-4 content" v-else>
                                                                No data
                                                            </div>
                                                        </v-card>
                                                        </v-tab-item>
                                                    </v-tabs-items>
                                                </div>
                                            </v-card>
                                        </v-dialog>
                                    </template>
                                </v-data-table>
                            </div>
                        </div>
                    </v-container>
                </v-main>
            </v-app>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./app.js"></script>
</html>
